* {
  font-family: poppins;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: poppins;
  src: url(/styles/fonts/Poppins-Medium.woff2);
  font-weight: 500;
}

@font-face {
  font-family: poppins;
  src: url(/styles/fonts/Poppins-Regular.woff2);
  font-weight: 400;
}

@font-face {
  font-family: poppins;
  src: url(/styles/fonts/Poppins-SemiBold.woff2);
  font-weight: 600;
}
